<!DOCTYPE html>
<html>
<head>
<link href="../css/style.css" rel="stylesheet" />
<meta charset=utf-8 />
<title>View 3</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="http://cytoscape.github.io/cytoscape.js/api/cytoscape.js-latest/cytoscape.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
<script src="../static/js/view3model.js"></script>
<script src="../static/js/view3ctrl.js"></script>
</head>
<body ng-app="app">
  <div id="logo">
    <svg viewBox="0 0 1200 100" class="icon">
       <use xlink:href="../static/images/logo.svg#hmaLogo"></use>
    </svg>
  </div>
  <div width="1000" id="cy"></div>
  <table id="view3-table" ng-controller="v3ElemsCtrl">
    <tbody>
      <tr>
        <th>Select</th>
        <th>Type</th>
        <th>Short Name</th>
        <th>Long Name</th>
        <th>Description</th>
        <th>Formula</th>
      </tr>
      <tr ng-repeat="elem in elms">
        <td><input type="checkbox" ng-model="elem.id" ng-change="onSelected(elem)"></td>
        <td>{{elem.type}}</td>
        <td>{{elem.short}}</td>
        <td>{{elem.long}}</td>
        <td>{{elem.description}}</td>
        <td>{{elem.formula}}</td>
      </tr>
    </tbody>
  </table>
  <div id="footer">Human Metabolic Atlas - View3</div>
</body>
</html>
