<!DOCTYPE html>
<html ng-app="app">
<head>
<link href="../static/css/style.css" rel="stylesheet" />
<meta charset=utf-8 />
<title>View 4</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="http://cytoscape.github.io/cytoscape.js/api/cytoscape.js-latest/cytoscape.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.0/jquery.qtip.min.js"></script>
<link href="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.0/jquery.qtip.min.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-qtip/2.2.5/cytoscape-qtip.js"></script>
<script src="../static/lib/cytoscape-cose-bilkent.js"></script>
<script src="../static/js/view4model.js"></script>
<script src="../static/js/view4ctrl.js"></script>
</head>
<body ng-controller="v4ElemsCtrl">
  <div id="logo">
    <svg viewBox="0 0 1200 100" class="icon">
       <use xlink:href="../static/images/logo.svg#hmaLogo"></use>
    </svg>
  </div>
  <div id="cy"></div>
  <table id="view4-table">
    <tbody>
      <tr>
        <th>Select</th>
        <th>Type</th>
        <th>Short Name</th>
        <th>Long Name</th>
        <th>Description</th>
        <th>Formula</th>
        <th>Compartment</th>
      </tr>
      <tr ng-repeat="elem in elms">
        <td><input type="checkbox" ng-model="elem.id" ng-change="onSelected(elem)"></td>
        <td>{{elem.type}}</td>
        <td>{{elem.short}}</td>
        <td>{{elem.long}}</td>
        <td>{{elem.description}}</td>
        <td>{{elem.formula}}</td>
        <td>{{elem.compartment}}</td>
      </tr>
    </tbody>
  </table>
  <div id="footer">Human Metabolic Atlas - View4</div>
</body>
</html>
