version: '3'

services:
  db:
    container_name: db
    image: postgres:alpine
    networks:
      - net-tier

  nginx:
    container_name: nginx
    depends_on:
      - backend
    networks:
      - net-tier

  backend:
    container_name: backend
    depends_on:
      - db
    env_file:
      - postgres.env
    build: ./backend
    networks:
      - net-tier

networks:
  net-tier:
    driver: bridge
