version: '3.7'

services:
  nginx:
    restart: unless-stopped
    build:
      context: .
      dockerfile: ./nginx/Dockerfile.prod
    ports:
      - "80:80"
      - "443:443"
    environment:
      CERTBOT_EMAIL: ${CERTBOT_EMAIL}
      ENVSUBST_VARS: SERVER_NAME
      SERVER_NAME: ${SERVER_NAME}
    volumes:
      - letsencrypt:/etc/letsencrypt

  neo4j:
    restart: unless-stopped
    container_name: neo4j
    build: ./neo4j
    command: neo4j
    ports:
      - "7687:7687"

  api:
    restart: unless-stopped
    container_name: api
    build:
      context: ./api
      dockerfile: ./Dockerfile.prod
    environment:
      - NODE_ENV=production
    command: yarn start

volumes:
    letsencrypt:

