<div class="row">

  <div class="col-sm-8 blog-main">
    <!-- Begin page content -->
    <div class="panel panel-default">
      <div class="panel-heading">Network Display:</div>
      <div id="cy"></div>
    </div>
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Reaction Components:</div>

      <!-- Reaction Components table -->
      <table id="ReactionComponentTable" class="table table-hover table-condensed table-bordered table-striped">
        <thead>
          <tr>
            <th>Select</th>
            <th>Type</th>
            <th>Short Name</th>
            <th>Long Name</th>
            <th>Description</th>
            <th>Formula</th>
            <th>Compartment</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="elem in $ctrl.elements">
            <td><input type="checkbox" ng-model="elem.id" ng-change="onSelected(elem)"></td>
            <td>{{ elem.type }}</td>
            <td ng-bind-html="elem.short | chemicalName"></td>
            <td ng-bind-html="elem.long | chemicalName"></td>
            <td>{{ elem.description }}</td>
            <td ng-bind-html="elem.formula | chemicalFormula"></td>
            <td>{{ elem.compartment }}</td>
          </tr>
        </tbody>
      </table>
    </div><!-- /table pannel -->
  </div><!-- /.blog-main -->

  <div class="col-sm-4 blog-sidebar">
    <div class="well">
      <h3>View 3: Nearest neighbors</h3>
      <p>
        We treat all chemical equations (eg reactions) form HMR2.0 as binary "interactions".
        This gives us the option of "zooming in" around a given ReactionComponent (species in SBML)
        (for example an enzyme from HPA).<br><br>
        This could be used to "determine" how important a given ReactionComponent is,
        and how a set of ReactionComponents interact and how their expression
        levels change between tissues.
      </p>
    </div>

    <div class="well">
      <h3>Main Gene Symbol: {{ $ctrl.enzymeName }}</h3>
      <p><i ng-bind-html="$ctrl.enzymeFunction | getProteinFunction"></i></p>
    </div>

    <div class="well">
      <h3>Selected Gene Symbol: {{$ctrl.infoSymbol}}</h3>
      <p>
        <ul>
          <li>Compartment: {{$ctrl.infoCompartment}}</li>
          <li>Description: {{$ctrl.infoDescription}}
            <i>
              (this is a mockup - but include the description of the ReactionComponent here)
            </i>
          </li>
        </ul>
      </p>
    </div>

    <div class="sidebar-module">
      <h3>Search HMA for ...</h3>
      <form class="form-horizontal">
        <div class="form-group">
          <label for="inputRC" class="col-sm-2 control-label">Reaction Component</label>
          <div class="col-sm-10">
            <input type="search" class="form-control" id="inputRC" placeholder="E_3125" ng-model="fsearch.rc">
          </div>
        </div>
        <div class="form-group">
          <label for="selTissue" class="col-sm-2 control-label">Tissue</label>
          <div class="col-sm-10">
            <select class="form-control" id = "selTissue" ng-model="fsearch.tissue">
              <option value="adipose_tissue" selected>Adipose</option>
              <option>Other</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="selExpression" class="col-sm-2 control-label">Expression source</label>
          <div class="col-sm-10">
            <select class="form-control" id = "selExpression" ng-model="fsearch.expression">
              <option value="antibody_profiling" selected>Antibody Profiling</option>
              <option>Other</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary" ng-click="dosearch(fsearch)">Search</button>
          </div>
        </div>
      </form>
      <div id = "searchRes" class = "well">
        Search tips (during development): {{$ctrl.rcexamples}}
        <pre> {{search | json}}</pre>
        Expression levels (during development): {{$ctrl.infoLevels}}

      </div>
    </div>


    <div class="sidebar-module">
      <h4>Extra Links:</h4>
      <ol class="list-unstyled">
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2 ..</a></li>
      </ol>
    </div>

    <div class="sidebar-module">
      <h4>Elsewhere</h4>
      <ol class="list-unstyled">
        <li><a href="http://www.sysbio.se/">SysBio @Chalmers</a></li>
        <li><a href="http://www.proteinatlas.org/">HPA</a></li>
        <li><a href="#">Something</a></li>
      </ol>
    </div>
  </div>
</div><!-- /.blog-sidebar -->

</div><!-- /.row -->

