body {
  font: 14px helvetica neue, helvetica, arial, sans-serif;
}

#logo, #footer {
    position: static;
    height: 80px;
}

#cy {
    position: static;
    margin: auto;
    height: 600px;
}

#ReactionComponentTable {
  position: static;
  width: 1404px;
}

#protein-table {
  position: static;
  border: 3px solid #73AD21;
  background: rgba(255, 200, 200, 0.5);
}

#PIDsearch-form {
  position: static;
  border: 3px solid #73AD21;
  background: rgba(255, 200, 200, 0.5);
}

th {
  text-align: left;
}
